/* Bütün sayfaya temel stiller */
body {
    font-family: Arial, sans-serif;
    background-color: #b9aed1; 
    margin: 0;
}
.card-body h1{
font-family : 'Mont serrat', sans-serif;
font-weight: 700;
color: #6a0dad;
}